.search_div {
    display: flex;
    margin: auto;
    width: 90%;
    padding: 10px;
    justify-content: center;
    align-items: center;

}

.search_bar {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;

}

.search_form {
    margin: auto;
    width: 90%;
    /*color: rgb(151, 86, 7);*/
}

.s_button {
    display: flex;
    margin: auto;
    margin-top: 5px;
    width: 15%;
    padding: 7px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;

}

.adv_search_button {
    background-color:#4285F4;
    color: white;
    border-color: #4285F4;
    font-size: small;
}

.advance_button_div {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    margin: auto;
}

.text_div {
    margin-top: 70px;
    text-align: center;
}

.google_text {
    font-size: 100px;
    color: gainsboro;
}

.links {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 5%;
    margin-right: 5%;
}

a {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50px;
    padding: 5px;
}

.logo {
  font-size: 64px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -10px;
}

.blue   { color: #4285F4; }
.red    { color: #DB4437; }
.yellow { color: #F4B400; }
.green  { color: #0F9D58; }

.adv_search_bar {
    display: flex;
    margin: auto;
    margin-top: -30px;
    width: 50%;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.adv_search_bars {
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

label {
    color: black;
    font-size: small;
}
