.search_div {
    display: flex;
    margin: auto;
    /*margin-top: 5px;*/
    width: 90%;
    padding: 10px;
    /*border: 3px solid green;*/
    justify-content: center;
    align-items: center;

}

.search_bar {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    border-radius: 50px;
    /*border: 3px solid green;*/
    justify-content: center;
    align-items: center;

}

.search_form {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    margin: auto;
    width: 90%;
    color: rgb(151, 86, 7);
    /*border: 3px solid green;*/
}

.s_button {
    display: flex;
    margin: auto;
    margin-top: 5px;
    width: 15%;
    padding: 10px;
    border-radius: 50px;
    /*border: 3px solid green;*/
    justify-content: center;
    align-items: center;

}

.text_div {
    margin-top: 70px;
    text-align: center;
}

.google_text {
    font-size: 100px;
    color: gainsboro;
}

.links {
    display: flex;
    justify-content: right;
    align-items: right;
    /*border: 3px solid #73AD21;*/
    margin-top: 5%;
    margin-right: 5%;
}

a {
    /*border: 1px solid black;*/
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50px;
    padding: 5px;
}

.logo {
  font-size: 64px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -10px;
}

.blue   { color: #4285F4; }
.red    { color: #DB4437; }
.yellow { color: #F4B400; }
.green  { color: #0F9D58; }

.adv_search_bar {
    display: flex;
    margin: auto;
    margin-top: -10px;
    width: 60%;
    padding: 5px;
    /*border: 3px solid green;*/
    justify-content: center;
    align-items: center;
}
